section.hero{
    display: flex;
    background-color: black;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
    @media screen and (max-width: 850px) {
            justify-content: center;
    }
    div.hero-logo{
        display: block;
       
        height: 100%;
        width: 100%;
 
        z-index: 1;
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
        scale: 3;
    }
    img.hero-img{
   
        position: absolute;
        height: 100%;
        max-width: 69%;
        margin-right: 20%;
        z-index: 9;
        object-fit: cover;
        
        @media screen and (max-width: 850px) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0%;
            max-width: 80%;
            max-height: 80%;
        }


        
    }
  
}