section.hero{
    display: block;

  
  
    background-color: black;
    position: relative;
    

    div.hero-logo{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
 
        z-index: 1;
        background-size: cover;
        background-position: 20%;
    }
    img.hero-img{
        display: block;
        position: relative;
        height: 100%;
        z-index: 9;
        margin-left: 20%;
      


        
    }
  
}