.btn{
    display: block;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 0;
    background-color: black;
    border: none;
    color: white;
    margin:0 auto;
    outline: none;
    padding: 10px;
    cursor: pointer;
}
